@model Autos4Sale.Web.ViewModels.Shared.CarOfferViewModel

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Offer</h2>
@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.Brand, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(c => c.Brand, new { @class = "form-control", placeholder = "Enter Brand" })
            @Html.ValidationMessageFor(c => c.Brand, "", new { @class = "text-danger" })
        </div>
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.Model, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(c => c.Model, new { @class = "form-control", placeholder = "Enter Model" })
            @Html.ValidationMessageFor(c => c.Model, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="col-xs-12"></div>
    <div class="form-group">
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.YearManufacured, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(c => c.YearManufacured, new { @class = "form-control", placeholder = "Enter Year Manufacured-yyyy" })
            @Html.ValidationMessageFor(c => c.YearManufacured, "", new { @class = "text-danger" })
        </div>
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.Mileage, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(c => c.Mileage, new { @class = "form-control", placeholder = "Enter Mileage In Km" })
            @Html.ValidationMessageFor(c => c.Mileage, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="col-xs-12"></div>
    <div class="form-group">
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.Color, new { @class = "col-md-2 control-label" })
            @Html.EnumDropDownListFor(c => c.Color, "Select Color Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Color, "", new { @class = "text-danger" })
        </div>
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.Transmission, new { @class = "col-md-2 control-label" })
            @Html.EnumDropDownListFor(c => c.Transmission, "Select Transmission Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Transmission, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="col-xs-12"></div>
    <div class="form-group">
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.Engine, new { @class = "col-md-2 control-label" })
            @Html.EnumDropDownListFor(c => c.Engine, "Select Engine Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Engine, "", new { @class = "text-danger" })
        </div>
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.CarCategory, new { @class = "col-md-2 control-label" })
            @Html.EnumDropDownListFor(c => c.CarCategory, "Select Category Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.CarCategory, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="col-xs-12"></div>
    <div class="form-group">
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.SellersCurrentPhone, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(c => c.SellersCurrentPhone, new { @class = "form-control", placeholder = "Enter Phone" })
            @Html.ValidationMessageFor(c => c.SellersCurrentPhone, "", new { @class = "text-danger" })
        </div>
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.HorsePower, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(c => c.HorsePower, new { @class = "form-control", placeholder = "Enter Horse Power" })
            @Html.ValidationMessageFor(c => c.HorsePower, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="col-xs-12"></div>
    <div class="form-group">
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.Location, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(c => c.Location, new { @class = "form-control", placeholder = "Enter Location" })
            @Html.ValidationMessageFor(c => c.Location, "", new { @class = "text-danger" })
        </div>
        <div class="col-xs-6 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.Price, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(c => c.Price, new { @class = "form-control", placeholder = "Enter Price in Euro €" })
            @Html.ValidationMessageFor(c => c.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="col-xs-12"></div>
    <div class="form-group">
        <div class="col-md-9 col-sm-3" style="margin-bottom:15px;">
            @Html.LabelFor(c => c.Description, new { @class = "col-md-2 control-label" })
            @Html.TextAreaFor(c => c.Description, new { @class = "form-control", placeholder = "Enter Description" })
            @Html.ValidationMessageFor(c => c.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div>
                @Html.Label("Select Car Images", new { @class = "control-label" })
                <input type="file" name="images" multiple style="margin-top:10px;" />
            </div>
            <button class="btn btn-default" style="margin-top:30px;">Upload</button>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
