@model Autos4Sale.Web.ViewModels.Shared.CarOfferViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car Details</h2>
<hr />
<div class="main-container">
    @{
        <div class="well">
            <div class="img-container">
                @foreach (var item in Model.Image)
                {
                    <tr>
                        <td><img src="~/Images/@item.ImageUrl" class="img-thumbnail" /></td>
                    </tr>
                }
            </div>
            <div class="text-container">
                <h4><strong>@Html.DisplayFor(x => x.Brand) @Html.DisplayFor(x => x.Model)</strong></h4>
                <h4 class="price"><strong>€@Html.DisplayFor(x => x.Price)</strong></h4>
                <h5><strong>Year Manufactured:</strong> @Html.DisplayFor(x => x.YearManufacured)</h5>
                <h5><strong>Category:</strong> @Html.DisplayFor(x => x.CarCategory)</h5>
                <h5><strong>Color:</strong> @Html.DisplayFor(x => x.Color)</h5>
                <h5><strong>Engine:</strong> @Html.DisplayFor(x => x.Engine)</h5>
                <h5><strong>Transmission:</strong> @Html.DisplayFor(x => x.Transmission)</h5>
                <h5><strong>Horse Power:</strong> @Html.DisplayFor(x => x.HorsePower)</h5>
                <h5><strong>Mileage:</strong> @Html.DisplayFor(x => x.Mileage) Km</h5>
                <h5><strong>Phone:</strong>@Html.DisplayFor(x => x.SellersCurrentPhone)</h5>
                <h5><strong>Location:</strong> @Html.DisplayFor(x => x.Location)</h5>
                <h5><strong>Year Manufactured:</strong> @Html.DisplayFor(x => x.YearManufacured)</h5>
                <h5><strong>Date Added:</strong> @Html.DisplayFor(x => x.ModifiedOn)</h5> 

                <h5><strong>Vehicle Description: </strong></h5>
                <h5>@Model.Description</h5>
                <br />
                <h5><strong>Added By: </strong>@Model.Author.UserName</h5>
            </div>
        </div>
    }
</div>

